{
  "openapi": "3.0.0",
  "info": {
    "title": "Duda RAG API",
    "version": "1.0.0",
    "description": "API of RAG using Pinecone and WatsonX, orchestrated by LangChain"
  },
  "servers": [
    {
      "url": "https://psychic-guide-7jww7p4wp93rp5p-8000.app.github.dev"
    }
  ],
  "paths": {
    "/api/chat": {
      "post": {
        "summary": "Receive a query and return a response using RAG",
        "operationId": "post_chatbot",
        "tags": ["api"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatQuery": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "Prompt from user"
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "Response generated by the RAG model"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
